@youha-info:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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 # 패키지 다운로드를 위한 Personal access token, 90일 후 2023년 4월 9일에 만료

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=874EC53C-CACB-4F25-A2CD-EA7FB64FB4D7